.svgHeight {
    height: 20px;
}

.highlight {
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-bg-opacity: .12;
    padding: 6px;
    border-radius: 8px;
}

.hover:hover {
    background: rgb(255 255 255 / var(--tw-bg-opacity));
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-bg-opacity: .12;
    padding: 6px;
    border-radius: 8px;
}

.no-border {
    border: none !important;
}

li.cursorPointer:focus-visible {
    outline: none !important;
}