<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav sidebar-width" mode="push" *ngIf="authService.isAuthenticated()">

    <app-sidemenu (toggleTrigger)="toggle()"></app-sidemenu>

  </mat-drawer>

  <mat-drawer-content class="p-2">
    <div class="header" *ngIf="authService.isAuthenticated()">
      <app-header (toggleTrigger)="toggle()"></app-header>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>

    <div class="footer" *ngIf="authService.isAuthenticated()">
      <app-footer></app-footer>
    </div>
  </mat-drawer-content>


</mat-drawer-container>

<!-- <router-outlet
  *ngIf="authService.isAuthenticated() == false">{{authService.isAuthenticated()}}sdsdfsdfsf</router-outlet> -->