/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

.card {
    border-radius: 10px;
}

.form-control {
    border-radius: 10px !important;
}

/* Sidemenu */
.sidebar-width {
    width: 300px !important;
}

.sidebar-width .mat-drawer-inner-container {
    overflow: hidden !important;
}

.text-align-center {
    text-align: center !important;
}

.rounded-circle {
    border-radius: 50%;
    width: 60%;
    height: 60%;
}

.object-fit-cover {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.example-container {
    height: 100vh;
}

.example-sidenav {
    padding: 20px;
}

/* Sidemenu */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center {
    text-align: center !important;
}

.cursorPointer {
    cursor: pointer;
}

.text-align-end {
    text-align: end;
}

.text-align-start {
    text-align: start;
}

.right-align-icon {
    display: flex;
    justify-content: space-between;
}

/* Right Hover */

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-target:hover+.tooltip-content {
    visibility: visible;
    opacity: 1;
}

.tooltip-content {
    visibility: hidden;
    width: 190px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 100%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-content::after {
    /* Arrow */
    content: "";
    position: absolute;
    bottom: 100%;
    /* At the bottom of the tooltip */
    left: 9%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Right Hover */

/* Left Hover */

.tooltip-container-left {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-target:hover+.tooltip-content-left {
    visibility: visible;
    opacity: 1;
}

.tooltip-content-left {
    visibility: hidden;
    width: 190px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 80%;
    right: 70%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-content::after {
    /* Arrow */
    content: "";
    position: absolute;
    bottom: 100%;
    /* At the bottom of the tooltip */
    left: 9%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Left Hover */


.card-bg-premium {
    /* background: linear-gradient(to bottom, #FF69B4, #9400D3); */
    /* background: linear-gradient(to bottom, #0074D9, #39CCCC); */
    /* background: linear-gradient(to bottom, #2ECC40, #FFDC00); */
    /* background: linear-gradient(to bottom, #FFA500, #FF1493); */
    /* background: linear-gradient(to bottom, rgba(46, 204, 64, 0.5), rgba(255, 220, 0, 0.5)); */
}